.app {
  max-width: 90lh;
  height: 90vh;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: "Segoe UI", sans-serif;
}

.app h2 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
